
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>


<form method="post" style="width:600px;">
    <div class="form-group">
        <label>Username</label>
        <input class="form-control" th:value="${user.username}" name="username" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" th:value="${user.email}" name="email" type="email" />
    </div>
    <div class="form-group">
        <label>Password</label>
        <input class="form-control" name="password" type="password" />
    </div>
    <div class="form-group">
        <label>Verify</label>
        <input class="form-control" name="verify" id="verify" type="password" />
        <div class="error" style="color:red" th:text="${verifyError}"></div>
    </div>

    <input type="submit" value="Register" />
</form>

</body>
</html>